h1 {
    color: #F3B2CE;
    font-size: 42px;
    font-weight: bold;
    font-family: fantasy;
    text-align: center;
    text-shadow: 3px 3px 5px #7A2533;
    background-image: url(tulip-banner.jpg.tiff);
}
div.gallery {
    margin: 50px;
    float: left;
    width: 180px;
  }
div.gallery:hover {
    clip-path: circle(40%);
  }
div.gallery img{
    padding-left: 100px;
    height: 240px;
    width: 192px;
}
div.desc {
    text-align: center;
}
p {
    color: #7A2533;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
} 