h1 {
   color: #F3B2CE;
   font-size: 75px;
   font-weight: bold;
   font-family: cursive, fantasy;
   text-align: center;
   text-shadow: 3px 3px 5px #7A2533;
   background-image: url(tulip-banner.jpg);
}


h2 {
   color: rgb(164, 228, 146);
   text-shadow: 3px 3px 5px #105d19;
   font-family: cursive, fantasy;
   text-align: center;
   font-size: 30px;
}


h3 {
   font-weight: bold;
   text-align: left;
   padding-right: 80%;
}


.container {
   content: "";
   clear: both;
   display: table;
   float: right;

}

ul{
   padding-left: 0%;
   font-family: cursive;
   color: #29282a;
   text-align: center;
}

h4 {
   text-align: center;
   font-family: cursive;
}

ul li {
   list-style-position: inside;
}

p {
   font-family: monospace;
   padding-right: 20%;
}


img {
   width: 260px;
   height: 315px;
   padding-left: 30%;
}

footer {
   padding-top: 25px;
   text-align: center;
   font-size: 15px;
   font-family: cursive;
}

a:link {
   color: #ca4bbb;
}

a:visited {
   color: #ca4bbb;
}

a:hover {
   color: #74119b;
}
